<div class="well">
  <h2>Admin Section</h2>
  <%= form.label :hired  %> 
  <%= form.input :hired, label: "" %> 
  <%= form.label :suppressed  %> 
  <%= form.input :suppressed, label: "" %> 
  <%= form.input :hr_comments, label: "HR Comments" %>
  <%= form.submit "Submit", class: 'btn btn-success'  %>
</div>
