<h2>Confirmation</h2>

<div class="alert alert-info">
  <p>Please verify that the following information is correct and complete.</p>
</div>

<h3>Contact Info <%= form.submit "Change", name: "goto_contact_info", class: 'btn btn-info pull-right' %></h3>
<table class="table table-striped">
  <tr>
    <th>First name</th>
    <td><%= @prospect.first_name %></td>
  </tr>
  <tr>
    <th>Last name</th>
    <td><%= @prospect.last_name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @prospect.email%></td>
  </tr>
  <tr>
    <th>Directory ID</th>
    <td><%= @prospect.directory_id%></td>
  </tr>
  <tr>
    <th>Class status</th>
    <td><%= @prospect.class_status%></td>
  </tr>
  <tr>
    <th>Graduation year</th>
    <td><%= @prospect.graduation_year%></td>
  </tr>
  <% @prospect.addresses.each do |address| %>
    <tr>
      <th><%= address.address_type.capitalize %> Address</th>
      <td>
        <%= address.street_address_1 %><br/>
        <% unless address.street_address_2.empty? %><%= address.street_address_2 %><br/><% end %>
        <%= address.city %>, <%= address.state %> <%= address.postal_code %><br/>
        <%= address.country %>
      </td>
    </tr>
  <% end %>
  <tr>
    <th>Has family member who works for the Libraries</th>
    <td>
      <%= @prospect.family_member? ? "Yes; #{@prospect.family_member}" : 'No' %>
    </td>
  </tr>
  <tr>
    <th>In federal work study</th>
    <td><%= @prospect.in_federal_study ? 'Yes' : 'No' %></td>
  </tr>
</table>
<h3>Work Experience <%= form.submit "Change", name: "goto_work_experience", class: 'btn btn-info pull-right' %></h3>
<% unless @prospect.work_experiences.empty? %>
  <% @prospect.work_experiences.each do |exp| %>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th><%= exp.name %></th>
      </tr>
      <tr>
        <th>Dates</th>
        <td><%= exp.dates_of_employment %></td>
      </tr>
      <tr>
        <th>Location</th>
        <td><%= exp.location %></td>
      </tr>
      <tr>
        <th>Duties</th>
        <td><%= exp.duties %></td>
      </tr>
      <tr>
        <th>Library related</th>
        <td><%= exp.library_related ? 'Yes' : 'No' %></td>
      </tr>
    </table>
  <% end %>
<% else %>
  <p><i>(None)</i></p>
<% end %>
<h3>Skills <%= form.submit "Change", name: "goto_skills", class: 'btn btn-info pull-right' %></h3>
<% unless @prospect.skills.empty? %>
  <ul>
    <% @prospect.skills.each do |skill| %>
      <li><%= skill.name %></li>
    <% end %>
  </ul>
<% else %>
  <p><i>(None)</i></p>
<% end %>
<h3>Availability <%= form.submit "Change", name: "goto_availability", class: 'btn btn-info pull-right' %></h3>
<div class="table-responsive">
  <%= availablity_table(form) %>
</div>

<h2>Additional Comments</h2>
<%= form.text_area :additional_comments %>
