<h2>Contact Information</h2>

<div class='panel panel-default'>
  <div class="panel-heading"><span>Basic Information</span></div>
  <div class="panel-body" id="basic-info">
      <%= form.input :first_name, required: true %>
      <%= form.input :last_name,  required: true %>
      <%= form.input :email, required: true %>
      <%= form.input :directory_id, required: true  %>
      <%= form.input :class_status, collection: 
        Prospect.class_statuses.map { |cs| [ cs.first.capitalize, cs.first ] },
        as: :select, include_blank: false %>
      <%= form.input :graduation_year, collection:
          Prospect.graduation_years.map { |gy| [ gy.first.gsub("_", " ").upcase, gy.first ] },
          as: :select, include_blank: false %>
  </div>
</div>

<div class='panel panel-default'>
  <div class="panel-heading"><span>Addresses</span>
    <span class='pull-right'>
      <% unless @prospect.permanent_address %> 
        <%= link_to_add_association(form, :addresses,
                                    { class: "add-permanent-address", 
                                       force_non_association_create: true,  
                                      "data-association-insertion-node": "#addresses",
                                      "data-association-insertion-method": 'append'}) do  %>
          <i class='glyphicon glyphicon-plus-sign'></i>Add A Permanent Address 
        <% end %> 
      <% end %>   
    </span>
  </div>
  <div class="panel-body" id="addresses">
      <%= form.fields_for :addresses do |addr| %>
        <%= render 'address_fields', f: addr %>
      <% end %>
  </div>
</div>

<div class='panel panel-default'>
  <div class="panel-heading"><span>Other Information</span></div>
  <div class="panel-body" id="other-info">
    <%= form.input :has_family_member, as: :radio_buttons, collection: [["No", false], ["Yes", true]], 
      label: "Do you have a family member that works at UMD Libraries?", input_html: { data: { toggle: "collapse",
        target: "#collapseFamilyMember" } }   %> 
    <div id="collapseFamilyMember" class="collapse">
        <div class="panel-body"><%= form.input :family_member, required: true %></div>
    </div>
    <br/>  
    <%= form.input :in_federal_study, as: :radio_buttons, collection: [["No", false], ["Yes", true]], 
      required: true, label: "Are you in a Federal Work Study program?" %>
        
           
  </div>
</div>
