<h2>Résumé</h2>
<div id="upload-jumbo" class="jumbotron">
  <p>If you would like to attach a resume, please select from the option below.</p>
  <%= simple_form_for @resume,  html: { class: 'form-horizontal uploadForm' } do |resume_form| %>
    <%= resume_form.label :file, class: "btn btn-lg btn-info" do %>
      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
      Choose a file...
    <% end %>
    <%= resume_form.file_field :file %>
    <%= resume_form.submit "Upload", class: "btn btn-lg btn-warning upload" %>
    <% if @resume.file? %>
      <%= link_to( "View #{ @resume.file_file_name}",  resume_path(@resume), class: "show-link",  target: "_self" ) %>
    <% end %>
  <% end %>
</div>
