<h2>Work Experience</h2>

<div class='panel panel-default'>
  <div class="panel-heading"><span>Work Experiences</span>
    <span class='pull-right'>
      <%= form.link_to_add(:work_experiences, class: 'btn btn-success', data: { target: "#work-experiences" }) do  %>
        <i class='glyphicon glyphicon-plus-sign'></i>Add Work Experiences 
      <% end %> 
    </span>
  </div>
  <div class="panel-body" id="work-experiences">
      <%= form.fields_for :work_experiences do |we| %>
        <%= we.text_field :name %>
        <%= we.text_field :dates_of_employment %>
        <%= we.text_field :location %>
        <%= we.text_area :duties %>
        <%= we.label :library_related do %>
          <span class='radio-question' >Is this position library related?</span> 
          <%= we.radio_button :library_related, false, checked: true, value: false, label: "No", inline: true  %>        
          <%= we.radio_button :library_related, true, value: true, label: "Yes", inline: true %>        
        <% end %>
      <% end %>
  </div>
</div>
