<%= flash_messages %>
<table class="table table-striped prospects">
  <% if  @current_user.admin? %> 
    <caption>
      <button type="button" class="btn btn-danger" id='deactivate-prospects' disabled='disabled' data-toggle="modal"  data-target="#deactivate-modal"  aria-haspopup="true" aria-expanded="false">
        Delete
      </button>
    </caption> 
  <% end %>   
  <thead>
    <% if  @current_user.admin? %> 
      <tr>
        <th><input id="prospect-select-all" type="checkbox"/></th>
        <th>Name</th>
        <th>UID</th>
        <th>Federal Work Study</th>
        <th>Class Status</th>
        <th>Skills</th>
        <th>Hired</th>
        <th>Semester</th>
      </tr> 
    <% else %>
      <tr>
        <th>Name</th>
        <th>Federal Work Study</th>
        <th>Class Status</th>
        <th>Expected Graduation Year</th>
        <th>Skills</th>
        <th>Hours Per Week</th>
        <th>Availability</th>
        <th>Preferred Library</th>
        <th>Hired</th>
        <th>Semester</th>
      </tr> 
    <% end %> 
  </thead>
  <tbody>
    <% @prospects.each do |prospect| %>
      <% if @current_user.admin? %> 
        <tr>
          <td><input name="ids[]"  class="deactivate" value="<%= prospect.id %>" type="checkbox"/></td>
          <td><%= link_to( prospect.name, prospect) %></td> 
          <td><%= prospect.id %></td>
          <td><%= prospect.in_federal_study? %></td>
          <td><%= prospect.class_status %></td>
          <td><%= prospect.skills.map(&:name).join(" , ") %></td>
          <td><%= prospect.hired? %></td>
          <td><%= prospect.semester %></td>
        </tr>
      <% else %>
        <tr>
          <td><%= link_to( prospect.name, prospect) %></td> 
          <td><%= prospect.in_federal_study? %></td>
          <td><%= prospect.class_status %></td>
          <td><%= prospect.graduation_year %></td>
          <td><%= prospect.skills.map(&:name).join(" , ") %></td>
          <td><%= prospect.available_hours_per_week %></td>
          <td>
            <%= link_to( "javascript:", class: 'btn btn-success',  data: { toggle: "modal", target: "#availabilityModal", dayTimes:  prospect.available_times.map(&:day_time)  } ) do %> 
              <span class="glyphicon glyphicon-calendar" />
            <% end %> 
          </td>
          <td><%= prospect.libraries.map(&:value).join(" , ") %></td>
          <td><%= prospect.hired? %></td>
          <td><%= prospect.semester %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @prospects %>
<%= render "availability_modal" %>
<%= render "deactivate_modal" %>
